<!-- <div class="simple-view-element" [class.d-none]="hideIfNoTextContent && content.textContent.trim().length === 0">
  <h5 class="simple-view-element-header" *ngIf="label">{{ label | kwareTranslate }}</h5>
  <div #content class="simple-view-element-body" [ngStyle]="{'display':label === 'القياس و الأبعاد' ? 'flex' : 'block','gap':label === 'القياس و الأبعاد' ? '5px' : '0'}">

    <ng-content></ng-content>
  </div>
</div> -->


<div  class="simple-view-element" [class.d-none]="hideIfNoTextContent && content.textContent.trim().length === 0">

  <h5 class="simple-view-element-header" *ngIf="(!(label.includes('المؤلفين') || label.includes('Authors/Researchers')) )">  {{ label | kwareTranslate }}</h5>

<div #content class="simple-view-element-body " >
  <div [ngClass]="{'author-flex':(label.includes('المؤلفين') || label.includes('Authors/Researchers') || label.includes('People') || label.includes('الأشخاص') ),'container':(label.includes('المؤلفين') || label.includes('Authors/Researchers') || label.includes('People') || label.includes('الأشخاص') )}" >
    <ng-content></ng-content>
  </div>

</div>
</div>
