
<div style="color:#fff;margin-top: 1.5rem; margin-bottom: 1.5rem;" class="content-container container-fluid">
  <div>
    <div class=" col-12 d-flex uni-info">
    <div>
      <a class="text-white col-lg-3 col-md-6 col-xs-6 footer-widget"
        target="_blank"
        href="https://sdl.edu.sa/SDLPortal/ar/Publishers.aspx">

        <img style="width: 150px; height:
          120px;filter: brightness(0) invert(1);margin-right: -40px; margin-top: -1.6rem;"
          src="assets/images/SDL__logo.png" />


      </a>
      <br>
    </div>
    <div class="repo-info" style="margin-right: -10px;margin-top: 0px;">
      <!-- <h6 class="widget-title mt-0 mb-2 pt-1
      pb-1" style="color:#fff;">{{'footer.top.content1'
      | translate}}</h6>
    <h6 class="mt-0 mb-2 " style="color:#fff;margin-top: -8px !important;">
      {{'footer.top.content6' | translate}} </h6> -->

      <div style="color: #fff;" class=" font-12 mb-1">
        {{'footer.top.content2' | translate}}</div>
        
      <ul class="list-inline font-16 mb-2 social-list">
        <li class="list-inline-item m-0">
          <a id="lnktwitter" class="twitterIcon"
            href="https://twitter.com/sdl_sa?lang=en" target="_blank">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item m-0">
          <a id="lnklinkedIn" class="linkedinIcon"
            href="https://www.youtube.com/channel/UCEq_U0CFvlKtRLvrtpPAUtQ"
            target="_blank">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>






      </ul>



      <div style="color: #fff;" class="font-14 mt-1 mb-1 ">
        {{'footer.top.content3' | translate}} <a class="text-white"
          routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>!</div>
    </div>
  </div>
  </div>



  <div class="col-lg-3 col-md-6 col-xs-6 footer-widget">

    <h5 class="widget-title mt-0 mb-2 " style="color:#FFF;">{{'footer.copyRights.link'
      | translate}}</h5>
  

    <ul style="color:#0F3156;" class="footer-info list-unstyled small font-12
      ustify-content-center
      mb-0">

      <li>
        <a style="color:#FFF;" class="" href="#"
        (click)="showCookieSettings()">{{ 'footer.link.cookies' |
        translate}}</a>
      </li>
      <li>
        <a style="color:#FFF;" class=""
                routerLink="info/privacy">{{ 'footer.link.privacy-policy' |
                translate}}</a>
      </li>
      <li>
        <a style="color:#FFF;" class=""
                routerLink="info/end-user-agreement">{{
                'footer.link.end-user-agreement' | translate}}</a>
      </li>
    </ul>
  </div>


  <div class="col-lg-3 col-md-6 col-xs-6 footer-widget">
    <h5 class="widget-title mt-0 mb-2" style="color:#fff;">{{'footer.quick.links'
      | translate}}</h5>
      
    <ul class="footer-info list-unstyled small font-12 ustify-content-center
      mb-0">

      <li>
        <a class="text-white" target="_blank"
          href="https://sdl.edu.sa/SDLPortal/ar/Vision.aspx">{{ 'footer.quick.links5' |
          translate}}</a>
      </li>

      <li>
        <a class="text-white" target="_blank"
          href="https://sdl.edu.sa/SDLPortal/ar/goals.aspx">{{ 'footer.quick.links1' |
          translate}}</a>
      </li>
      <!-- <li>
        <a class="text-white" target="_blank"
          href="https://imamu.edu.sa/Pages/IRB.aspx">{{ 'footer.quick.links2' |
          translate}}</a>
      </li> -->



    </ul>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-6 footer-widget">
    <h5 class="widget-title mt-0 mb-2 " style="color:#fff;">{{'footer.important.links'
      | translate}}</h5>
    <ul class="footer-info list-unstyled small font-12 ustify-content-center
      mb-0">



      <li>
        <a class="text-white" target="_blank"
          href="https://sdl.edu.sa/SDLPortal/ar/A-ZArabic.aspx">{{ 'footer.important.links1'
          |
          translate}}</a>
      </li>
      <li>
        <a class="text-white" target="_blank"
          href="https://sdl.edu.sa/SDLPortal/ar/A-ZArabic.aspx">{{
          'footer.important.links2' |
          translate}}</a>
      </li>
      <li>
        <a class="text-white" target="_blank"
          href="https://sdl.edu.sa/SDLPortal/ar/Tools_Services.aspx">{{
          'footer.important.links3' |
          translate}}</a>
      </li>
      <!-- <li>
        <a class="text-white" target="_blank"
          href="https://dga.gov.sa/">{{ 'footer.important.links4' |
          translate}}</a>
      </li> -->
      <!-- <li>
        <a class="text-white" target="_blank"
          href="https://units.imamu.edu.sa/deanships/it/dmo/Pages/OpenData">{{
          'footer.important.links5' |
          translate}}</a>
      </li>
      <li>
        <a class="text-white" target="_blank"
          href="https://imamu.edu.sa/Pages/safetyprocedures.aspx">{{
          'footer.important.links6' |
          translate}}</a>
      </li> -->




    </ul>
  </div>

  

</div>
<footer class="text-lg-start d-flex" style="justify-content: space-between;padding: 0 15px 0 15px;background-color: rgb(40 111 188)  !important;    line-height: normal;">

  <div>
    <p style="color:#FFF;" class="bottom-footer d-flex
      justify-content-center
      align-items-center
      rights">{{'footer.link.copyrights' | translate}} ©2024 </p>
  </div>
  <!-- Copyright -->
  <div class="bottom-footer p-1 justify-content-center align-items-center
    text-white">
    <div class="content-container ">





      <div>
        <p class="m-0">
          <a class="text-white"
            href="http://www.dspace.org/">{{ 'footer.link.dspace' | translate}}</a>
          {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
          <a class="text-white"
            href="https://www.lyrasis.org/">{{ 'footer.link.lyrasis' |
            translate}}</a>
          <!-- {{ 'footer.link.arabizationsBy' | translate}}
          <a class="text-white" target="_blank"
            href="http://kwareict.com/ar"> <img style="width: 130px; height:
              30px;" src="assets/images/kware_logo_ar.png" />
          </a>  -->
        </p>

      </div>

    </div>
  </div>
  <!-- Copyright -->
</footer>
