.parent-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.viewer-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  // background-color: #3a3636;
}

.viewer-toolbar-btn {
  background-color: unset;
  border: none;
  cursor: pointer;
}

.divider-v {
  position: relative;
  margin: 0 3px;
  width: 1px;
  height: 20px;
  border-left: 1px solid #ffffff;
}