<ds-metadata-field-wrapper [label]="label | translate">
  <ng-container *ngFor="let mdValue of mdValues ; let last=last;">
    <ng-container *ngTemplateOutlet="(renderMarkdown ? markdown : simple); context: {value: mdValue.value, classes: 'dont-break-out '}">
    </ng-container>
    <span class="separator" *ngIf="!last" [innerHTML]="separator"></span>
  </ng-container>
</ds-metadata-field-wrapper>

<ng-template #markdown let-value="value" let-classes="classes">
<!-- kware-edit kwareTranslatePipe -->
<span style="color:#094157 ;" class="{{classes}}" [innerHTML]="value | kwareTranslate | dsMarkdown | async ">
</span>
</ng-template>

<ng-template #simple let-value="value" let-classes="classes">
<span class="{{classes}}">
  <a style="color: #207698 !important;" target="_blank"  *ngIf="!externalLinks && check && link === 'identifierOrcid'" href="https://sandbox.orcid.org/{{value}}">
    <!-- kware-edit kwareTranslatePipe -->
    {{value | kwareTranslate}}<img _ngcontent-dspace-angular-c659="" placement="top" alt="orcid-logo" src="https://dspacecris7.4science.cloud/assets/images/orcid.logo.icon.svg" class="orcid-icon ng-star-inserted">
 </a>

 <a style="color: #207698 !important;" target="_blank"  *ngIf="externalLinks && check && link !== 'identifierOrcid'" href="{{value}}">
  <!-- kware-edit kwareTranslatePipe -->
  {{value | kwareTranslate}} <img *ngIf="link === 'ror'" style="width: 60px !important;" _ngcontent-dspace-angular-c659="" placement="top" alt="orcid-logo" src="assets/images/ror-logo.svg" class="orcid-icon ng-star-inserted">
</a>
<!-- kware-edit kwareTranslatePipe -->
  <a style="color: #207698 !important;" *ngIf="!externalLinks && check && link !== 'identifierOrcid'; else elseBlock" href="/search?query=&f.{{link}}={{value}},equals">
      <!-- {{value | kwareTranslate }} -->
      {{link === 'advisor' || link === 'member' && (value.includes(',') && value.includes('|') ) ? (convertComma((value?.split(",")[0] | kwareTranslate) + ',' +  (value?.split(",")[1] | kwareTranslate))): value | kwareTranslate }}

   </a>
   <ng-template  #elseBlock>
    <!-- kware-edit kwareTranslatePipe -->
      <span *ngIf="!externalLinks && link !== 'identifierOrcid'" style="color:#094157 ;" >
          {{value | kwareTranslate}}
      </span>
    </ng-template>
</span>
</ng-template>
