
.dropdown-item {
  cursor: pointer;
}

.dropdown-toggle::after {
  display:none;
}

.dropdown-toggle {
  color: var(--ds-header-icon-color);

  &:hover, &:focus {
    color: var(--ds-header-icon-color-hover);
  }
}

// kware start edit -- issue.7.6.002
.lang-switcher-btn {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
  color:  #2666ab ;
}

// kware end edit -- issue.7.6.002