<form #form="ngForm" (ngSubmit)="onSubmit(form.value)" action="/search">
    <div>
      <div class="form-group input-group">
        <div *ngIf="showScopeSelector" class="input-group-prepend">
          <button
            class=" scope-button btn btn-outline-secondary text-truncate"
            [ngbTooltip]="dsoNameService.getName(selectedScope | async)"
            type="button"
            (click)="openScopeModal()"
          >
            {{
              dsoNameService.getName(selectedScope | async) ||
                ("search.form.scope.all" | translate)
            }}
          </button>
          
        </div>
        <select
        class="btn-outline-secondary text-truncate" 
        style="background-color: #fff !important; color: #495057 !important"
        name="queryFilter"
        [(ngModel)]="selectedFilter"
      >
        <option *ngFor="let filter of queryFilters" [(value)]="filter.value">
          {{ filter.label | translate }}
        </option>
      </select>
        <input
          type="text"
          [(ngModel)]="query"
          name="query"
          class="form-control"
          attr.aria-label="{{ searchPlaceholder }}"
          [attr.data-test]="'search-box' | dsBrowserOnly"
          [placeholder]="searchPlaceholder"
        />
        <a *ngIf="query"
        class="clearIcon"
        (click)="clearText()">
        <i class="fa-solid fa-xmark"></i>
      </a>
        <!-- kware start edit -->
        <!-- <select
          class="btn-outline-secondary text-truncate" 
          style="background-color: #fff !important; color: #495057 !important"
          name="queryFilter"
          [(ngModel)]="selectedFilter"
        >
          <option *ngFor="let filter of queryFilters" [(value)]="filter.value">
            {{ filter.label | translate }}
          </option>
        </select> -->
        <!-- kware end edit -->
        <span class="input-group-append">
          <button
            type="submit"
            class="search-button btn btn-{{ brandColor }}"
            [attr.data-test]="'search-button' | dsBrowserOnly"
          >
            <i class="fas fa-search"></i> {{ "search.form.search" | translate }}
          </button>
        </span>
      </div>
    </div>
  </form>
  