<!-- <div class="background-image" >
 


</div>

<div>
  <div class="container">
    <div class="container">
      <ds-themed-search-form [showScopeSelector]="showScopeSelector" [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-themed-search-form>
    
    </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
    
      </div>
    </div>
  </div>
</div> -->


<div class="background-image">
  <div class="container" >

    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap" style="justify-content: center;align-items: center;width: 100%;">
        <!-- kware edit
        translate home-news screen -->
        <div style="width: 100%;margin-top: 140px;">
          <ds-themed-search-form [showScopeSelector]="showScopeSelector" [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-themed-search-form>

          <!-- <h1 class="display-3">{{ "home.news.dspace7" | translate }}</h1> -->
        </div>
      </div>
      <!-- <ul>

        <li>
          {{ "home.news.dspace.intro.content1" | translate }}
        </li>
        <li>
          {{ "home.news.dspace.intro.content2" | translate }}
        </li>
        <li>
          {{ "home.news.dspace.intro.content3" | translate }}
        </li>
      </ul> -->
    
      <!-- <p>
        {{ "home.news.dspace.testUser.header" | translate }}
      </p> -->
      <!-- <ul>
        <li>{{ "home.news.dspace.demoSite.userName" | translate }} = dspace@kwareict.com</li>
        <li>{{ "home.news.dspace.demoSite.userPass" | translate }} = kware-dspace7-demo</li>
      </ul> -->
    </div>
  </div>
  <!-- <small class="credits"
    >Photo by
    <a href="https://www.pexels.com/@inspiredimages">@kwaretech</a></small
  > -->
  <!-- end kware edit -->
</div>

