<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="mr-auto">
  </ds-item-page-title-field>
  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
  <div class="row">
    <div class="col-xs-12 col-md-4">

      



      <ng-container *ngIf="!mediaViewer.image">
        <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
          <ds-thumbnail [thumbnail]="object?.thumbnail | async"
                        [defaultImage]="'assets/images/events.png'"
                        [alt]="'thumbnail.event.alt'"
                        [placeholder]="'thumbnail.event.placeholder'"
          >
          </ds-thumbnail>
        </ds-metadata-field-wrapper>
      </ng-container>
      <ng-container *ngIf="mediaViewer.image">
        <ds-entity-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-entity-media-viewer>
      </ng-container>


        <!-- mohamed start edit -->
        <!-- <div class="desktop-mode">
          <ds-item-files-section [item]="object"></ds-item-files-section>
        </div>

        <div class="mobile-mode">
          <div *ngIf="!fileUrl">
            <ds-item-files-section  [item]="object"></ds-item-files-section>
          </div>
          <ds-media-viewer-switcher [item]="object"></ds-media-viewer-switcher>
        </div> -->
        <!-- <ds-item-files-section [item]="object"></ds-item-files-section> -->
    <!-- mohamed end edit -->
      <div *ngIf="object?.firstMetadata('dc.rights')">
        <a
          href="{{object?.firstMetadata('dc.rights.uri')?.value}}/deed.{{locale}}"
          rel="noopener" target="_blank" class="rights-statement-button
          attribution mr-auto" data-v-4daef65b="" data-qa="provider name">
          <span data-qa="rights statement" class="license-label d-inline-flex
            align-items-center" data-v-4daef65b="">
  
            <span class="license-label-text"
            [innerHTML]="('search.filters.rights.' +
            object?.firstMetadata('dc.rights')?.value | translate: {default:
            object?.firstMetadata('dc.rights')?.value}
            )">
  
          </span>
          </span>
        </a>
    
    </div>
    <br>

      <ds-generic-item-page-field [item]="object"
        [fields]="['era.startDate']"
        [label]="'event.page.startDate'">
      </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object"
      [fields]="['era.startHijriDate']"
      [label]="'event.page.startHijriDate'">
    </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object"
        [fields]="['era.startTime']"
        [label]="'event.page.startTime'">
      </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object"
      [fields]="['era.endDate']"
      [label]="'event.page.endDate'">
    </ds-generic-item-page-field>


      <ds-generic-item-page-field [item]="object"
        [fields]="['era.endHijriDate']"
        [label]="'event.page.endHijriDate'">
      </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object"
        [fields]="['era.endTime']"
        [label]="'event.page.endTime'">
      </ds-generic-item-page-field>
  
    </div>
    <div class="col-xs-12 col-md-8">
         <!-- mohamed start edit -->
         <!-- <div class="desktop-mode">
          <ds-media-viewer-switcher [item]="object"></ds-media-viewer-switcher>
         </div> -->
       

        <!-- <ds-media-viewer-switcher></ds-media-viewer-switcher> -->
          <!-- mohamed end edit -->



      

     


     <ds-generic-item-page-field [item]="object"
     [fields]="['dc.description']"
     [label]="'item.page.description'">
   </ds-generic-item-page-field>


    <ds-generic-item-page-field [item]="object"
    [fields]="['era.century']"
    [label]="'era.page.century'">
  </ds-generic-item-page-field>


    <ds-generic-item-page-field [item]="object"
    [fields]="['era.decade']"
    [label]="'era.page.decade'">
  </ds-generic-item-page-field>

    

      <ds-generic-item-page-field [item]="object"
      [fields]="['era.yearOccurrence']"
      [label]="'era.page.year'">
    </ds-generic-item-page-field>





      <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="','"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>

    <ds-related-items
    [parentItem]="object"
    [relationType]="'isOrgUnitOfEra'"
    [label]="'relationships.isOrgUnitOf' | translate">
  </ds-related-items>

<!-- 
  <ds-related-items
  [parentItem]="object"
  [relationType]="'isPersonOfEra'"
  [label]="'relationships.isPersonOf' | translate">
</ds-related-items>
   -->
  
  <ds-related-items
  [parentItem]="object"
  [relationType]="'isAdministrationOfEra'"
  [label]="'relationships.isAdministrationOf' | translate">
  </ds-related-items>


    <ds-related-items
      [parentItem]="object"
      [relationType]="'isPlaceOfEra'"
      [label]="'relationships.isPlaceOf' | translate">
    </ds-related-items>


    <ds-related-items
    [parentItem]="object"
    [relationType]="'isSiteOfEra'"
    [label]="'relationships.isSiteOf' | translate">
  </ds-related-items>

  <ds-related-items
  [parentItem]="object"
  [relationType]="'isSeriesOfEra'"
  [label]="'relationships.isSeriesOf' | translate">
</ds-related-items>

<ds-related-items
[parentItem]="object"
[relationType]="'isEventOfEra'"
[label]="'relationships.isEventOf' | translate">
</ds-related-items>

  <ds-related-items
  [parentItem]="object"
  [relationType]="'isActivityOfEra'"
  [label]="'relationships.isActivityOf' | translate">
</ds-related-items>


  <!-- <ds-related-items
  [parentItem]="object"
  [relationType]="'isPublicationOfEra'"
  [label]="'relationships.isPublicationOf' | translate">
</ds-related-items>
   -->
  
  
      <div>
        <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']">
          {{"item.page.link.full" | translate}}
        </a>
      </div>
    </div>
    <div class="mt-5 w-100">
      <ds-tabbed-related-entities-search  [item]="object"
                                          [relationTypes]="[
                                          {
                                            label: 'isAuthorOfPublication',
                                            filter: 'isAuthorOfPublication',
                                            configuration: 'default-relationships'
                                            },
                                          {
                                            label: 'isOrgUnitOfPerson',
                                            filter: 'isEraOfPerson',
                                            configuration: 'person-relationships'
                                          }
                                         
                                          ]">
      </ds-tabbed-related-entities-search>
    </div>
  </div>
  
