<!-- <ng-container *ngIf="showAccessStatus">
  <span *ngIf="accessStatus$ | async as accessStatus">
    <i [class]="accessStatusConfigs[accessStatus]?.icon || ''" aria-hidden="true"></i>
    <span [class]="'badge badge-secondary access-status-list-element-badge ' + accessStatusClass">{{ accessStatus | translate }}</span>
  </span>
</ng-container> -->

<ng-container *ngIf="showAccessStatus">
  <span *ngIf="accessStatus$ | async as accessStatus">
    <span class="badge badge-secondary" [style]="accessStatusConfigs[accessStatus]?.style || ''">
      <i [class]="accessStatusConfigs[accessStatus]?.icon || ''" aria-hidden="true"></i>
      {{ accessStatus | translate }}
    </span>
  </span>
</ng-container>