<ng-template #descTemplate>
  <span class="text-muted">
      <span *ngIf="mdRepresentation.allMetadata(['person.jobTitle']).length > 0"
            class="item-list-job-title">
              <span *ngFor="let value of mdRepresentation.allMetadataValues(['person.jobTitle']); let last=last;">
                  <span [innerHTML]="value | kwareTranslate"><span [innerHTML]="value | kwareTranslate"></span></span>
              </span>
      </span>
  </span>
</ng-template>
<ds-truncatable [id]="mdRepresentation.id">
  <div [ngClass]="{'d-flex':mdRepresentation.hasMetadata('relation.isPublicationOfAuthor'),'author-content':(mdRepresentation.hasMetadata('relation.isPublicationOfAuthor') || mdRepresentation.hasMetadata('relation.isPublicationOfPerson'))}" [ngStyle]="{'gap': mdRepresentation.hasMetadata('relation.isPublicationOfAuthor') ? '10px' : '0'}" >
    <div *ngIf="mdRepresentation.hasMetadata('relation.isPublicationOfAuthor') && isPublication">
      <i class="fa-regular fa-user"></i>
    </div>
    <div>
      <a [routerLink]="[itemPageRoute]"

      [ngbTooltip]="mdRepresentation.allMetadata(['person.jobTitle']).length > 0 ? (descTemplate | kwareTranslate ) : null">
      {{convertComma(((mdRepresentation.getValue()?.split(",")[0] | kwareTranslate) + ',' +  (mdRepresentation.getValue()?.split(",")[1] | kwareTranslate)).split(',undefined')[0])}}
      <!-- {{convertComma(mdRepresentation.getValue())}} -->
 
     </a>
     <a *ngIf="mdRepresentation.hasMetadata('person.identifier.orcid')" href="https://sandbox.orcid.org/{{mdRepresentation.firstMetadataValue('person.identifier.orcid')}}"><img style="width: 22px;    margin-right: 10px;" _ngcontent-dspace-angular-c659="" placement="top" alt="orcid-logo" src="https://dspacecris7.4science.cloud/assets/images/orcid.logo.icon.svg" class="orcid-icon ng-star-inserted"></a>
 
    </div>
  </div>


</ds-truncatable>