

<div *ngIf="currentLocale ; else elseBlock">
  <h1>{{ 'info.privacy.head' | translate }}</h1>
  <p><em>Last updated May 4, 2023</em></p>
  
  <h2>Introduction</h2>
  <p>{{ 'repository.title' | translate }} ("Company" or "We") respects your privacy and is committed to protecting it through our compliance with this policy.</p>
  <p>This policy describes the types of information we may collect from you or that you may provide when you visit this website (our "Website") and our practices for collecting, using, maintaining, protecting, and disclosing that information.</p>
  <p>This policy applies to information we collect:</p>
  <ul>
    <li>On this Website.</li>
    <li>In email, text, and other electronic messages between you and this Website.</li>
  </ul>
  <p>It does not apply to information collected by:</p>
  <ul>
    <li>us offline or through any other means, including on any other website operated by Company or any third party; or</li>
    <li>any third party, including through any application or content (including advertising) that may link to or be accessible from or on the Website.</li>
  </ul>
  <p>Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Website. By accessing or using this Website, you agree to this privacy policy. This policy may change from time to time. Your continued use of this Website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.</p>
  
  <h2>Children under the age of 13</h2>
  <p>Our Website is not intended for children under 13 years of age. No one under age 13 may provide any personal information to or on the Website. We do not knowingly collect personal information from children under 13. If you are under 13, do not use or provide any information on this Website or provide any information about yourself to us, including your name, address, telephone number, email address, or any screen name or username you may use. If we learn we have collected or received personal information from a child under 13 without verification of parental consent, we will delete that information.</p>
  
  <h2>Information we collect about you and how we collect it</h2>
  <p>We collect several types of information from and about users of our Website, including information:</p>
  <ul>
    <li>by which you may be personally identified, such as name, e-mail address, telephone number, or any other identifier by which you may be contacted online or offline ("personal information"); and/or</li>
    <li>about your internet connection, the equipment you use to access our Website and usage details.</li>
  </ul>
  <p>We collect this information:</p>
  <ul>
    <li>directly from you when you provide it to us.</li>
    <li>automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, and information collected through cookies, web beacons, and other tracking technologies; and/or</li>
    <li>from third parties, for example, our business partners.</li>
  </ul>
  
  <h2>Information you provide to us</h2>
  <p>The information we collect on or through our Website may include:</p>
  <ul>
    <li>Information that you provide by filling in forms on our Website. We may also ask you for information when you report a problem with our Website.</li>
    <li>Records and copies of your correspondence (including email addresses), if you contact us.</li>
    <li>Your responses to surveys that we might ask you to complete for research purpose.</li>
  </ul>
  
  <h2>Information we collect through automatic data collection technologies</h2>
  <p>As you navigate through and interact with our Website, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including:</p>
  <ul>
    <li>Details of your visits to our Website, including traffic data, location data, logs, and other communication data and the resources that you access and use on the Website.</li>
    <li>Information about your computer and internet connection, including your IP address, operating system, and browser type.</li>
  </ul>
  <p>The information we collect automatically is statistical data and does not include personal information, but we may maintain it or associate it with personal information we collect in other ways or receive from third parties. It helps us to improve our Website and to deliver a better and more personalized service, including by enabling us to:</p>
  <ul>
    <li>Estimate our audience size and usage patterns.</li>
    <li>Store information about your preferences, allowing us to customize our Website according to your individual interests.</li>
    <li>Speed up your searches.</li>
    <li>Recognize you when you return to our Website.</li>
  </ul>
  <p>The technologies we use for this automatic data collection may include:</p>
  <ul>
    <li>Cookies (or browser cookies). A cookie is a small file placed on the hard drive of your computer. You may refuse to accept browser cookies by activating the appropriate setting on your browser. However, if you select this setting you may be unable to access certain parts of our Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you direct your browser to our Website.</li>
  </ul>
  
  <h2>How we use your information</h2>
  <p>We use information that we collect about you or that you provide to us, including any personal information:</p>
  <ul>
    <li>To present our Website and its contents to you.</li>
    <li>To provide you with information, products, or services that you request from us.</li>
    <li>To fulfill any other purpose for which you provide it.</li>
    <li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection.</li>
    <li>To notify you about changes to our Website or any products or services we offer or provide through it.</li>
    <li>In any other way we may describe when you provide the information.</li>
    <li>For any other purpose with your consent.</li>
  </ul>
  
  <h2>Disclosure of your information</h2>
  <p>We may disclose aggregated information about our users, and information that does not identify any individual, without restriction.</p>
  <p>We may disclose personal information that we collect or you provide as described in this privacy policy:</p>
  <ul>
    <li>To contractors, service providers, and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them.</li>
    <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Company's assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by Company about our Website users is among the assets transferred.</li>
    <li>To fulfill the purpose for which you provide it.</li>
    <li>For any other purpose disclosed by us when you provide the information.</li>
    <li>With your consent.</li>
  </ul>
  <p>We may also disclose your personal information:</p>
  <ul>
    <li>To comply with any court order, law, or legal process, including to respond to any government or regulatory request.</li>
    <li>To enforce or apply our <a [routerLink]="['/info/end-user-agreement']" target="_blank" rel="noopener noreferrer">End User Agreement</a> and other agreements, including for billing and collection purposes.</li>
    <li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of the Company, our customers, or others.</li>
  </ul>
  
  <h2>Changes to our privacy policy</h2>
  <p>It is our policy to post any changes we make to our privacy policy on this page. The date the privacy policy was last revised is identified at the top of the page. You are responsible for periodically visiting our Website and this privacy policy to check for any changes.</p>
  <div>

    <p>Telephone: +xxx xxx xxx xxx</p>
  <p> Email: dspace@kwareict.com</p>
  </div>




</div>







<ng-template #elseBlock>
  <h1>{{ 'info.privacy.head' | translate }}</h1>
  <p><em>آخر تحديث في 4 مايو 2023</em></p>
  
  <h2>المقدمة</h2>
  <p>{{ 'repository.title' | translate }} ("المؤسسة" أو "نحن") نحترم خصوصيتك ونتعهد بحمايتها من خلال امتثالنا لهذه السياسة.</p>
  <p>توضح هذه السياسة أنواع المعلومات التي قد نقوم بجمعها منك أو التي قد تقدمها عند زيارة هذا الموقع ( "موقعنا الإلكتروني") وممارساتنا في جمع هذه المعلومات واستخدامها وصيانتها وحمايتها والكشف عنها.</p>
  <p>تنطبق هذه السياسة على المعلومات التي نجمعها:</p>
  <ul>
    <li>في هذا الموقع الإلكتروني.</li>
    <li>في البريد الإلكتروني، والرسائل النصية، والرسائل الإلكترونية الأخرى بينك وبين هذا الموقع الإلكتروني.</li>
  </ul>
  <p>ولا تنطبق على المعلومات التي يتم جمعها بواسطة:</p>
  <ul>
    <li>نحن في وضع عدم الاتصال أو من خلال أي وسيلة أخرى، بما في ذلك على أي موقع إلكتروني آخر تحت إدارة المؤسسة أو أي طرف ثالث؛ أو</li>
    <li>أي طرف ثالث، بما في ذلك من خلال أي تطبيق أو محتوى (بما في ذلك الإعلانات) قد يرتبط أو يمكن الوصول إليه من أو في الموقع الإلكتروني.</li>
  </ul>
  <p>يرجى قراءة هذه السياسة جيداً لفهم سياساتنا وممارساتنا المتعلقة بمعلوماتك وكيفية تعاملنا معها. إذا كنت لا توافق على سياساتنا وممارساتنا، فإن اختيارك هو عدم استخدام موقعنا. عبر الوصول إلى هذا الموقع الإلكتروني أو استخدامه، فإنك توافق على سياسة الخصوصية الخاصة بنا. قد تتغير هذه السياسة من وقت لآخر. يعتبر استمرار استخدامك لهذا الموقع الإلكتروني بعد إجراء التغييرات بمثابة قبول لهذه التغييرات، لذا يرجى مراجعة السياسة بشكل دوري للوقوف على التحديثات.</p>
  
  <h2>الأطفال الذين تقل أعمارهم عن 13 عاماً</h2>
  <p>موقعنا الإلكتروني غير مخصص للأطفال دون سن 13 عاماً. لا يجوز لأي شخص أقل من 13 عاماً تقديم أي معلومات شخصية إلى أو على الموقع الإلكتروني. نحن لا نجمع معلومات شخصية عن قصد من الأطفال دون سن 13 عاماً. إذا كان عمرك أقل من 13 عاماً، فلا تستخدم أو تقدم أي معلومات على هذا الموقع الإلكتروني أو تقدم لنا أي معلومات عنك، بما في ذلك اسمك وعنوانك ورقم هاتفك وعنوان بريدك الإلكتروني، أو أي اسم شاشة أو اسم مستخدم قد تستخدمه. إذا علمنا أننا جمعنا أو تلقينا معلومات شخصية من طفل أقل من 13 عاماً دون التحقق من موافقة الوالدين، فسنقوم بحذف هذه المعلومات.</p>
  
  <h2>المعلومات التي نقوم بجمعها عنك وكيفية جمعها</h2>
  <p>نقوم بجمع عدة أنواع من المعلومات من مستخدمي موقعنا الإلكتروني وحولهم، بما في ذلك المعلومات:</p>
  <ul>
    <li>التي قد يتم من خلالها تحديد هويتك الشخصية، مثل الاسم أو عنوان البريد الإلكتروني أو رقم الهاتف أو أي معرّف آخر يمكن من خلاله الاتصال بك عبر الإنترنت أو دون الاتصال بالإنترنت ("المعلومات الشخصية")؛ و/أو</li>
    <li>حول اتصالك بالإنترنت، والأجهزة التي تستخدمها للوصول إلى موقعنا الإلكتروني وتفاصيل الاستخدام.</li>
  </ul>
  <p>نحن نقوم بجمع هذه المعلومات:</p>
  <ul>
    <li>منك مباشرةً حين تقوم بتزويدنا بها.</li>
    <li>تلقائياً أثناء تنقلك عبر الموقع. قد تتضمن المعلومات التي يتم جمعها تلقائياً تفاصيل الاستخدام وعناوين الـ IP والمعلومات التي تم جمعها من خلال ملفات تعريف الارتباط وإشارات الويب وتقنيات التتبع الأخرى؛ و / أو</li>
    <li>من أطراف ثالثة، كشركائنا في العمل على سبيل المثال.</li>
  </ul>
  
  <h2>المعلومات التي تقدمها لنا</h2>
  <p>قد تتضمن المعلومات التي نقوم بجمعها على موقعنا الإلكتروني أو من خلاله:</p>
  <ul>
    <li>المعلومات التي تقدمها من خلال ملء النماذج الموجودة على موقعنا الإلكتروني. كما قد نطلب منك بعض المعلومات عندما تقوم بالإبلاغ عن مشكلة ما في موقعنا الإلكتروني.</li>
    <li>سجلات ونسخ من مراسلاتك (بما في ذلك عناوين البريد الإلكتروني)، إذا قمت بالاتصال بنا.</li>
    <li>ردودك على الاستبيانات التي قد نطلب منك إجراءها لأغراض بحثية.</li>
  </ul>
  
  <h2>المعلومات التي نقوم بجمعها من خلال تقنيات جمع البيانات التلقائية</h2>
  <p>أثناء تنقلك عبر موقعنا الإلكتروني والتفاعل معه، قد نستخدم تقنيات جمع البيانات تلقائياً لجمع معلومات معينة حول أجهزتك وإجراءات التصفح والأنماط الخاصة بك، بما في ذلك:</p>
  <ul>
    <li>تفاصيل زياراتك إلى موقعنا الإلكتروني، بما في ذلك بيانات حركة المرور وبيانات الموقع والسجلات وبيانات الاتصال الأخرى والموارد التي تصل إليها وتستخدمها على الموقع الإلكتروني.</li>
    <li>معلومات حول جهازك واتصالك بالإنترنت، بما في ذلك عنوان الـ IP ونظام التشغيل ونوع المتصفح.</li>
  </ul>
  <p>المعلومات التي نقوم بجمعها تلقائياً هي بيانات إحصائية ولا تتضمن معلومات شخصية، ولكن قد نحتفظ بها أو نربطها بالمعلومات الشخصية التي نقوم بجمعها بطرق أخرى أو نتلقاها من أطراف ثالثة. إن ذلك يساعدنا على تحسين موقعنا الإلكتروني وتقديم خدمة أفضل وأكثر تخصيصاً، وذلك عن طريق تمكيننا من:</p>
  <ul>
    <li>تقدير حجم الجمهور وأنماط الاستخدام.</li>
    <li>تخزين المعلومات حول تفضيلاتك، مما يسمح لنا بتخصيص موقعنا وفقاً لاهتماماتك الفردية.</li>
    <li>تسريع عمليات البحث الخاصة بك.</li>
    <li>التعرف عليك عند عودتك إلى موقعنا.</li>
  </ul>
  <p>قد تشمل التقنيات التي نستخدمها لجمع البيانات تلقائياً:</p>
  <ul>
    <li>ملفات تعريف الارتباط (أو ملفات تعريف الارتباط للمتصفح). ملف تعريف الارتباط هو ملف صغير موجود على القرص الصلب لجهازك. يمكنك رفض قبول ملفات تعريف الارتباط بالمتصفح عن طريق تنشيط الإعداد المناسب في متصفحك. غير أنك إذا قمت بتحديد هذا الإعداد، فقد لا تتمكن من الوصول إلى أجزاء معينة من موقعنا. ما لم تقم بتعديل إعدادات المتصفح بحيث يرفض ملفات تعريف الارتباط، سيصدر نظامنا ملفات تعريف الارتباط عندما توجه متصفحك إلى موقعنا الإلكتروني..</li>
  </ul>
  
  <h2>كيف نستخدم معلوماتك</h2>
  <p>نقوم باستخدام المعلومات التي نجمعها عنك أو التي تزودنا بها، بما في ذلك أي معلومات شخصية:</p>
  <ul>
    <li>لتقديم موقعنا الإلكتروني ومحتوياته لك.</li>
    <li>لتزويدك بالمعلومات أو المنتجات أو الخدمات التي تطلبها منا.</li>
    <li>لتحقيق أي غرض آخر تقوم بتقديمه.</li>
    <li>لتنفيذ التزاماتنا وإنفاذ حقوقنا الناشئة عن أي عقود مبرمة بيننا وبينك، بما في ذلك الفواتير والتحصيل.</li>
    <li>لإخطارك بالتغييرات التي تطرأ على موقعنا الإلكتروني أو أي منتجات أو خدمات نقوم بعرضها أو تقديمها من خلاله.</li>
    <li>بأي طريقة أخرى نقوم بوصفها عند تقديمك للمعلومات.</li>
    <li>لأي غرض آخر بموافقتك.</li>
  </ul>
  
  <h2>الإفصاح عن معلوماتك</h2>
  <p>قد نقوم بالإفصاح عن معلومات مجمعة حول مستخدمينا، ومعلومات لا تحدد هوية أي فرد، دون قيود.</p>
  <p>قد نكشف عن المعلومات الشخصية التي نقوم بجمعها أو تقوم بتقديمها كما هو موضح في سياسة الخصوصية:</p>
  <ul>
    <li>للمتعهدين ومقدمي الخدمات والأطراف الثالثة الأخرى التي نستخدمها لدعم أعمالنا والملتزمين بالالتزامات التعاقدية للحفاظ على سرية المعلومات الشخصية واستخدامها فقط للأغراض التي نكشف عنها لهم..</li>
    <li>إلى مشترٍ أو خلف آخر في حالة الاندماج أو التجريد أو إعادة الهيكلة أو إعادة التنظيم أو الحل أو أي بيع أو نقل آخر لبعض أو كل أصول المؤسسة، سواء كان ذلك كمنشأة مستمرة أو كجزء من الإفلاس أو التصفية أو أي إجراءات مماثلة، حيث تكون المعلومات الشخصية التي تحتفظ بها المؤسسة عن مستخدمي موقعنا من بين الأصول المنقولة.</li>
    <li>لتحقيق الغرض الذي تقوم بتقديمها من أجله.</li>
    <li>لأي غرض آخر نفصح عنه عند تقديم المعلومات.</li>
    <li>بموافقتك.</li>
  </ul>
  <p>قد نقوم أيضاً بالإفصاح عن معلوماتك الشخصية:</p>
  <ul>
    <li>للامتثال لأي أمر محكمة أو قانون أو إجراء قانوني، بما في ذلك الرد على أي طلب حكومي أو تنظيمي.</li>
    <li>لفرض أو تطبيق <a [routerLink]="['/info/end-user-agreement']" target="_blank" rel="noopener noreferrer">اتفاقية المستخدم النهائي</a> الخاصة بنا والاتفاقيات الأخرى، بما في ذلك أغراض الفواتير والتحصيل.</li>
    <li>إذا كنا نعتقد أن الإفصاح ضروري أو مناسب لحماية حقوق أو ممتلكات أو سلامة المؤسسة أو عملائنا أو غيرهم.</li>
  </ul>
  
  <h2>التغييرات في سياسة الخصوصية الخاصة بنا</h2>
  <p>تتمثل سياستنا في نشر أي تغييرات نجريها على سياسة الخصوصية الخاصة بنا على هذه الصفحة. يتم تحديد تاريخ آخر مراجعة لسياسة الخصوصية في أعلى الصفحة. أنت مسؤول عن زيارة موقعنا وسياسة الخصوصية بشكل دوري للتحقق من أي تغييرات.</p>


  <div>
    <p>الهاتف: + xxx xxx xxx xxx </p>
    <p> البريد الإلكتروني: dspace@kwareict.com</p>
  </div>

</ng-template>
