<ds-themed-home-news></ds-themed-home-news>
<div class="container" style="justify-content: center;">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
  <!-- <ds-themed-search-form [showScopeSelector]="showScopeSelector" [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-themed-search-form> -->
  <!-- <ds-themed-top-level-community-list></ds-themed-top-level-community-list> -->
  <!-- <div class="row mb-3 ng-star-inserted">
    <div class="col-md-8 ng-star-inserted">
      <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list>
    </div>
    <div class="col-md-4 ng-star-inserted">
      <ds-top-section [siteId]="(site$ | async).id" ></ds-top-section>
    </div>

</div> -->
<ds-browse-categories></ds-browse-categories>
<!-- <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list> -->
<br>
<br>
<hr>
<br>
<ds-top-section style="margin-bottom: 120px;" [siteId]="(site$ | async).id" ></ds-top-section>
</div>
