<!-- <h1 class="item-page-title-field">
  <div *ngIf="item.firstMetadataValue('dspace.entity.type') as type" class="d-inline">
    {{ type.toLowerCase() + '.page.titleprefix' | translate }}
  </div>
  <span class="dont-break-out">{{ dsoNameService.getName(item) }}</span>
</h1> -->

<!-- <h1 class="item-page-title-field">
  <div *ngIf="item.firstMetadataValue('dspace.entity.type') && item.firstMetadataValue('dspace.entity.type') !== 'Publication'" class="d-inline">
    {{ item.firstMetadataValue('dspace.entity.type').toLowerCase() + '.page.titleprefix' | translate }}
  </div>
  <span class="dont-break-out">{{ dsoNameService.getName(item) }}</span>
</h1> -->


<h1 class="item-page-title-field">
  <div *ngIf="item.firstMetadataValue('dspace.entity.type') && item.firstMetadataValue('dspace.entity.type') !== 'Publication'" class="d-inline">
    {{ item.firstMetadataValue('dspace.entity.type').toLowerCase() + '.page.titleprefix' | translate }}
  </div>
  <span class="dont-break-out">{{ dsoNameService.getName(item) }} 
    <a *ngIf="item.hasMetadata('organization.identifier.ror')" target="_blank" href="{{item.firstMetadataValue('organization.identifier.ror')}}"><img style="width: 50px !important;" class="orcid-icon ng-star-inserted ror-img"  src="assets/images/ROR_logo.svg.png"/></a> 
    <a *ngIf="item.hasMetadata('person.identifier.orcid')" target="_blank" href="https://sandbox.orcid.org/{{item.firstMetadataValue('person.identifier.orcid')}}"><img style="width: 30px !important;" class="orcid-icon ng-star-inserted orcid-img"  src="https://dspacecris7.4science.cloud/assets/images/orcid.logo.icon.svg"/></a> 

  </span>
</h1>